.grid
  display: grid
  grid-auto-columns: $grid-width
  grid-auto-rows: $grid-height

.hollow-square
  border: 20px solid $primary

.margin-half
  margin: 50px 60px
.margin-y
  margin: 50px 0
.margin-x
  margin: 0 60px

.has-text-subtitle
  +font-black
  +text-subtitle
.has-text-desc
  +font-bold
  +font-italic
  +text-desc
  white-space: nowrap

.background-fit-centered
  background-position: center
  background-size: cover

