$grid-width: 120px
$grid-height: 100px

$primary: #50e3c2
$black: black
$grey: rgba(0,0,0,.3)
$grey-light: rgba(0,0,0,.1)

=text-label
  font-size: 20px
  line-height: 24px
=text-title
  font-size: 72px
  line-height: 85px
=text-subtitle
  font-size: 48px
  line-height: 48px
=text-desc
  font-size: 24px
  line-height: 28px

=font-black
  font-weight: 900
=font-bold
  font-weight: 700
=font-italic
  font-style: italic