#home {
  cursor: pointer;
  padding: 32px;
  #title-label {
    @include font-black;
    @include text-label;
    grid-column: 4 / 6;
    grid-row: 1;
    align-self: baseline;
    justify-self: center;
    padding: 1px 8px 2px 10px;
  }
  #title {
    @include font-black;
    @include text-title;
    grid-column: 3 / 7;
    grid-row: 1;
    line-height: 75%;
    align-self: flex-end;
    justify-self: center;
  }
  #bg-square-1 {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
  }
  
  .section-1 {
    grid-column: 1 / 6;
    grid-row: 2 / 8;
    .hollow-square {
      grid-column: 3 / 6;
      grid-row: 1 / 4;
    }
    .image {
      grid-column: 1 / 5;
      grid-row: 2 / 6;
    }
    .subtitle {
      grid-column: 1 / 4;
      grid-row: 2;
      margin-top: -36px;
    }
    .desc {
      grid-column: 5;
      grid-row: 5 / 7;
      writing-mode: vertical-lr;
    }
    .num {
      grid-column: 1;
      grid-row: 6;
    }
    .pattern {
      grid-column: 1 / 4;
      grid-row: 5 / 7;
    }
  }
  .section-2 {
    grid-column: 6 / 9;
    grid-row: 3 / 7;
    .hollow-square {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }
    .num {
      grid-column: 3;
      grid-row: 1;
    }
    .filled-square {
      grid-column: 1 / 4;
      grid-row: 1 / 4;
    }
    .desc {
      grid-column: 1;
      grid-row: 1;
      position: relative;
      span {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
    .image {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
    }
    .subtitle {
      grid-column: 2 / 4;
      grid-row: 4 / 5;
    }
  }
  .section-3 {
    grid-column: 1 / 6;
    grid-row: 8 / 12;
    .filled-square {
      grid-column: 1 / 3;
      grid-row: 1 / 4;
    }
    .hollow-square {
      grid-column: 3 / 6;
      grid-row: 2 / 5;
    }
    .image {
      grid-column: 1 / 5;
      grid-row: 2 / 4;
    }
    .subtitle {
      grid-column: 2 / 5;
      grid-row: 1;
      position: relative;
      > div {
        position: absolute;
        right: 0;
        bottom: 6px;
      }
    }
    .desc {
      grid-column: 1 / 3;
      grid-row: 4;
    }
    .num {
      grid-column: 5;
      grid-row: 4;
    }
  }
  .section-4 {
    grid-column: 6 / 9;
    grid-row: 8 / 14;
    .hollow-square {
      grid-column: 1 / 4;
      grid-row: 1 / 3;
    }
    .image {
      grid-column: 2 / 4;
      grid-row: 2 / 6;
    }
    .subtitle {
      grid-column: 1;
      grid-row: 2;
      position: relative;
      .gradiant-text {
        position: absolute;
        bottom: $grid-height;
        right: 6px;
        transform: rotate(-90deg);
        transform-origin: 100% 100%;
      }
    }
    .num {
      grid-column: 1;
      grid-row: 5;
      align-self: flex-end;
      justify-self: flex-end;
    }
    .desc {
      grid-column: 3;
      grid-row: 1;
      position: relative;
      span {
        position: absolute;
        right: 74px;
        bottom: 0;
        transform: rotate(90deg);
        transform-origin: 100% 100%;
      }
    }
    .pattern {
      grid-column: 2 / 4;
      grid-row: 5 / 7;
    }
  }
  .section-5 {
    grid-column: 1 / 6;
    grid-row: 12 / 16;
    .hollow-square {
      grid-column: 2 / 4;
      grid-row: 3 / 5;
    }
    .num {
      grid-column: 2;
      grid-row: 3;
      align-self: flex-end;
    }
    .image {
      grid-column: 3 / 5;
      grid-row: 2 / 4;
      transform: scaleX(-1);
    }
    .pattern {
      grid-column: 1 / 4;
      grid-row: 1 / 3;
      z-index: 1;
    }
    .gradiant-text {
      grid-column: 1 / 4;
      grid-row: 2;
      align-self: flex-end;
      z-index: 1;
    }
    .desc {
      grid-column: 5;
      grid-row: 2;
    }
  }
  .section-6 {
    grid-column: 4 / 9;
    grid-row: 14 / 20;
    .gradiant-text {
      grid-column: 3 / 6;
      grid-row: 1;
      align-self: flex-end;
      margin-bottom: 6px;
    }
    .filled-square {
      grid-column: 1 / 4;
      grid-row: 4 / 6;
    }
    .hollow-square {
      grid-column: 2 / 6;
      grid-row: 4 / 7;
    }
    .image {
      grid-column: 2 / 6;
      grid-row: 2 / 6;
    }
    .num {
      grid-column: 1;
      grid-row: 3;
      align-self: flex-end;
      justify-self: right;
    }
    .desc {
      grid-column: 3 / 5;
      grid-row: 6;
      justify-self: center;
    }
  }
  .section-7 {
    grid-column: 1 / 4;
    grid-row: 16 / 21;
    .hollow-square {
      grid-column: 1 / 4;
      grid-row: 1 / 6;
    }
    .filled-square {
      grid-column: 2 / 4;
      grid-row: 4 / 6;
    }
    .desc {
      grid-column: 1;
      grid-row: 1;
      align-self: flex-end;
    }
    .subtitle {
      grid-column: 3 / 5;
      grid-row: 1;
      align-self: flex-end;
      .gradiant-text {
        margin-left: 6px;
        transform: rotate(90deg);
        transform-origin: 0 100%;
      }
    }
    .image {
      grid-column: 1 / 3;
      grid-row: 2 / 6;
    }
    .num {
      grid-column: 3;
      grid-row: 5;
      align-self: flex-end;
      justify-self: right;
    }
  }
}
