#product {
  padding: 32px;
  .go-back {
    grid-column: 1 / 4;
    grid-row: 1;
    .arrow {
      grid-column: 1;
      grid-row: 1;
      cursor: pointer;
      align-self: center;
      justify-self: flex-end;
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
    .label {
      @include font-black;
      @include text-label;
      grid-column: 2 / 4;
      grid-row: 1;
      cursor: pointer;
      align-self: center;
      justify-self: flex-start;
      padding: 1px 8px 2px 10px;
    }
  }
  .page-image {
    grid-column: 1 / 9;
    grid-row: 2 / 8;
    .filled-square {
      grid-column: 1 / 4;
      grid-row:  1 / 4;
    }
    .hollow-square {
      grid-column: 4 / 9;
      grid-row: 4 / 7;
    }
    .image {
      grid-column: 2 / 8;
      grid-row: 2 / 6;
    }
    .subtitle-top {
      grid-column: 6 / 8;
      grid-row: 1;
      align-self: flex-end;
      justify-self: right;
    }
    .subtitle-right {
      grid-column: 8;
      grid-row: 1;
      align-self: flex-end;
      transform: rotate(90deg);
      transform-origin: 0 100%;
    }
    .subtitle-left {
      grid-column: 2;
      grid-row: 5;
      align-self: flex-end;
      transform: rotate(-90deg);
      transform-origin: 0 100%;
    }
    .subtitle-bottom {
      grid-column: 1;
      grid-row: 5;
      align-self: flex-end;
      justify-self: flex-end;
      transform: rotate(180deg);
      transform-origin: 100% 100%;
    }
  }
  .page-content {
    grid-column: 2 / 8;
    grid-row: 9 / 13;
    .desc {
      grid-column: 1;
      grid-row: 1 / 3;
      writing-mode: vertical-lr;
    }
    .header {
      grid-column: 2 / 6;
      grid-row: 1;
      .note {
        @include font-black;
        font-size: 24px;
        line-height: 36px;
      }
    }
    .article {
      grid-column: 2 / 7;
      grid-row: 2 / 5;
      font-size: 16px;
      line-height: 24px;
      white-space: pre-wrap;
    }
  }
  .page-bottom {
    grid-column: 1 / 9;
    grid-row: 14 / 21;
    .hollow-square {
      grid-column: 1 / 6;
      grid-row: 2 / 5;
    }
    .filled-square {
      grid-column: 6 / 9;
      grid-row: 2 / 4;
    }
    .image-right {
      grid-column: 4 / 8;
      grid-row: 3 / 7;
    }
    .image-left {
      grid-column: 2 / 5;
      grid-row: 1 / 4;
    }
    .pattern {
      grid-column: 2 / 5;
      grid-row: 6 / 8;
    }
  }
}
