<template>
  <div
    id="home"
    class="grid"
    @click="$router.push('product')"
  >
    <div
      id="title-label"
      class="
        has-background-black
        has-text-white
      ">CCCLOTHES</div>
    <div
      id="title"
      class="
        has-text-black
      ">MEN'S TOPS</div>
    <div class="section-1 grid">
      <div class="
        hollow-square
        margin-half
      "/>
      <div
        class="image background-fit-centered"
        title="Photo by Nathan Dumlao on Unsplash"
        :style="`background-image: url(${image1})`"
      />
      <gradiant-text text="LINEN BLAZER" class="subtitle"/>
      <div
        class="desc has-text-desc"
      >Men’s outfit</div>
      <div
        class="num has-text-subtitle"
      >01</div>
      <div
        class="pattern margin-half"
        :style="`background-image:url(${pattern})`"
      />
    </div>
    <div class="section-2 grid">
      <div class="hollow-square"/>
      <div
        class="num has-text-subtitle has-text-right"
      >02</div>
      <div class="
        filled-square
        has-background-primary
        margin-half
      "/>
      <div class="desc has-text-desc">
        <span>Men’s basics</span>
      </div>
      <div
        class="image background-fit-centered"
        title="Photo by Berwin Coroza on Unsplash"
        :style="`background-image: url(${image2})`"
      />
      <gradiant-text text="FREELIFT" class="subtitle"/>
    </div>
    <div class="section-3 grid">
      <div class="
        filled-square
        has-background-primary
        margin-y
      "/>
      <div class="
        hollow-square
        margin-half
      "/>
      <div
        class="image background-fit-centered"
        title="Photo by Brooke Cagle on Unsplash"
        :style="`background-image: url(${image3})`"
      />
      <div class="subtitle">
        <gradiant-text text="SUPER SKINNY"/>
      </div>
      <div class="desc has-text-desc has-text-right">
        <span>Men’s pattern shirts</span>
      </div>
      <div class="num has-text-subtitle">03</div>
    </div>
    <div class="section-4 grid">
      <div class="hollow-square margin-x"/>
      <div
        class="image background-fit-centered"
        title="Photo by Mohammad Faruque on Unsplash"
        :style="`background-image: url(${image4})`"
      />
      <div class="subtitle">
        <gradiant-text text="DENIM"/>
      </div>
      <div class="num has-text-subtitle">04</div>
      <div class="desc has-text-desc">
        <span>Men’s cadual</span>
      </div>
      <div
        class="pattern margin-y"
        :style="`background-image:url(${pattern})`"
      />
    </div>
    <div class="section-5 grid">
      <div class="hollow-square margin-y"/>
      <div class="num has-text-subtitle">05</div>
      <div
        class="image background-fit-centered"
        title="Photo by Alex Iby on Unsplash"
        :style="`background-image: url(${image5})`"
      />
      <div
        class="pattern margin-half"
        :style="`background-image:url(${pattern})`"
      />
      <gradiant-text text="SWEATSHIRTS"/>
      <div class="desc has-text-desc">Men’s jacket</div>
    </div>
    <div class="section-6 grid">
      <gradiant-text text="VINTAGE DENIM"/>
      <div class="
        filled-square
        has-background-primary
        margin-x
      "/>
      <div class="hollow-square margin-y"/>
      <div
        class="image background-fit-centered"
        title="Photo by Parker Whitson on Unsplash"
        :style="`background-image: url(${image6})`"
      />
      <div class="num has-text-subtitle">06</div>
      <div class="desc has-text-desc">Men’s classic</div>
    </div>
    <div class="section-7 grid">
      <div class="hollow-square margin-half"/>
      <div class="filled-square has-background-primary"/>
      <div class="desc has-text-desc">Men’s shirts</div>
      <div class="subtitle">
        <gradiant-text text="EDITION"/>
      </div>
      <div
        class="image background-fit-centered"
        title="Photo by Chanvre Québec on Unsplash"
        :style="`background-image: url(${image7})`"
      />
      <div class="num has-text-subtitle">07</div>
    </div>
  </div>
</template>

<script>
import GradiantText from '@/components/GradianText.vue';
import image1 from '@/assets/image/nathan-dumlao-486999-unsplash.jpg';
import image2 from '@/assets/image/berwin-coroza-495276-unsplash.jpg';
import image3 from '@/assets/image/brooke-cagle-274465-unsplash.jpg';
import image4 from '@/assets/image/mohammad-faruque-190942-unsplash.jpg';
import image5 from '@/assets/image/alex-iby-654198-unsplash.jpg';
import image6 from '@/assets/image/parker-whitson-571425-unsplash.jpg';
import image7 from '@/assets/image/chanvre-quebec-531856-unsplash.jpg';
import pattern from '@/assets/image/pattern unit.png';

export default {
  name: 'home',
  data: () => ({
    image1,
    image2,
    image3,
    image4,
    image5,
    image6,
    image7,
    pattern,
  }),
  components: {
    GradiantText,
  },
};
</script>
