<template>
  <div id="product" class="grid">
    <div class="go-back grid">
      <img class="arrow" :src="arrow" @click="$router.back()">
      <div
        class="
          label
          has-background-black
          has-text-white
        "
         @click="$router.back()"
      >CCCLOTHS</div>
    </div>
    <div class="page-image grid">
      <div class="
        filled-square
        has-background-primary
        margin-half
      "/>
      <div class="
        hollow-square
        margin-half
      "/>
      <div
        class="image background-fit-centered"
        title="Photo by Parker Whitson on Unsplash"
        :style="`background-image: url(${image1})`"
      />
      <div class="subtitle-top has-text-subtitle">VINTAGE</div>
      <div class="subtitle-right has-text-subtitle">DENIM</div>
      <div class="subtitle-left has-text-subtitle">06</div>
      <div class="subtitle-bottom has-text-subtitle">TOP</div>
    </div>
    <div class="page-content grid">
      <div class="desc has-text-desc">PRODUCT DETAILS</div>
      <div class="header">
        <div class="has-text-subtitle">VINTAGE DENIM</div>
        <div class="note">Kogi Cosby sweater ethical squid irony</div>
      </div>
      <pre class="article">{{ article }}</pre>
    </div>
    <div class="page-bottom grid">
      <div class="
        hollow-square
        margin-half
      "/>
      <div class="
        filled-square
        has-background-primary
        margin-x
      "/>
      <div
        class="image-right background-fit-centered"
        title="Photo by Parker Whitson on Unsplash"
        :style="`background-image: url(${image2})`"
      />
      <div
        class="image-left background-fit-centered"
        title="Photo by Parker Whitson on Unsplash"
        :style="`background-image: url(${image3})`"
      />
      <div
        class="pattern margin-half"
        :style="`background-image:url(${pattern})`"
      />
    </div>
  </div>
</template>

<script>
import arrow from '@/assets/image/arrow-left.svg';
import image1 from '@/assets/image/parker-whitson-571425-unsplash.jpg';
import image2 from '@/assets/image/parker-whitson-571426-unsplash.jpg';
import image3 from '@/assets/image/parker-whitson-571424-unsplash.jpg';
import pattern from '@/assets/image/pattern unit.png';

export default {
  name: 'Product',
  data: () => ({
    arrow,
    image1,
    image2,
    image3,
    pattern,
    article: `In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Now hands are wanted here, and then again hands are wanted there. There is no staying in any one place; for at one and the same time everything has to be done everywhere. It is much the same with him who endeavors the description of the scene. 

We must now retrace our way a little. It was mentioned that upon first breaking ground in the whale's back, the blubber-hook was inserted into the original hole there cut by the spades of the mates. But how did so clumsy and weighty a mass as that same hook get fixed in that hole? It was inserted there by my particular friend Queequeg, whose duty it was, as harpooneer.`,
  }),
};
</script>
