<template>
  <div class="gradiant-text">
    <div
      class="has-text-subtitle has-text-grey-light"
      v-text="text"
    />
    <div
      class="has-text-subtitle has-text-grey"
      v-text="text"
    />
    <div
      class="has-text-subtitle has-text-black"
      v-text="text"
    />
  </div>
</template>

<script>
export default {
  name: 'GradianText',
  props: {
    text: {
      type: String,
      default: 'GradianText',
    },
  },
};
</script>

<style lang="scss">
.gradiant-text {
  .has-text-subtitle {
    line-height: 36px;
  }
  div {
    overflow: hidden;
    &:nth-child(1) {
      height: 8px;
    }
    &:nth-child(2) {
      height: 18px;
    }
  }
}
</style>

